<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leselyst - Authors</title>
</head>
<body>
    <h1>Authors</h1>
    <ul>
        {% for author in authors %}
            <li><a href="{% url 'Leselystapp:author_detail' author_name=author %}">{{ author }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'Leselystapp:home' %}">Back to Home</a>
    <footer>
        <p>&copy; 2026 Leselyst. All rights reserved.</p>
    </footer>
</body>
</html>