{% extends "base.html" %}

{% block title %}Authors — Leselyst{% endblock %}

{% block content %}

<div style="max-width: 400px; margin: 3rem auto;">
    <h1 style="margin-bottom: 1.00rem;">Authors</h1>

    {% for author in authors %}
        <p style="color: var(--ink-light); margin-bottom: 2rem; font-size: 1rem;">
            <a href="{% url 'Leselystapp:author_detail' author.id %}"
            style="color: var(--ink);"> 
            {{ author.name }}
            </a>
        </p>
    {% empty %}
        <p>No authors found</p>
    {% endfor %}

</div>

{% endblock %}