{% extends "base.html" %}

{% block title %} {{ book.title }} — Leselyst{% endblock %}

{% block content %}

<div style="max-width: 400px; margin: 3rem auto;">
    <h1> {{ book.title }} </h1>
    <p style="margin-bottom: 1.00rem;" /p>
    <p style="color: var(--ink-light);"> {{ book.author }} </p>
    <p> {{ book.description }} </p>

    <hr style="margin: 2rem 0;">

    <h2>Reviews:</h2>
    {% for review in reviews %}
        <div style="padding: 1rem 0; border-bottom: 1px solid #ffffff;">
            <p> {{ review.content }} </p>
        </div>

    {% empty %}
        <h3>There are no reviews for this book yet, create the first one!</h3>
        <form method="POST" action="{% url "Leselystapp:add_review" book.id %}">
            {% csrf_token %}
            <textarea name="content" rows="4"
                style="width: 100%; padding: 0.50rem; border: 1px solid #ffffff"; border-radius: 4px; font-size: 1rem; margin-bottom: 1rem;">
            </textarea>
            <button type="submit"
                style="background: var(--ink); color: brown; padding: 0.5rem 1.5rem; border: 2px solid #000000; border-radius: 4px; cursor: pointer; font-size: 1rem;">
                Submit review
            </button>
        </form>

    {% endfor %}

</div>

{% endblock %}