<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leselyst - Book List</title>
</head>
<body>
    <h1>Book List</h1>
    <ul>
        {% for book in books %}
            <li><a href="{% url 'Leselystapp:book_detail' book_id=book.id %}">{{ book.title }}</a> by {{ book.author.name }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'Leselystapp:home' %}">Back to Home</a>
    <footer>
        <p>&copy; 2026 Leselyst. All rights reserved.</p>
    </footer>
</body>
</html>
