{% extends "base.html" %}

{% block title %}Books — Leselyst{% endblock %}

{% block content %}

<div style="max-width: 400px; margin: 3rem auto;">
    <h1 style="margin-bottom: 1.00rem;">Books</h1>

    {% for book in books %}
        <p style="color: var(--ink-light); margin-bottom: 2rem; font-size: 1rem;">
            <a href="{% url 'Leselystapp:book_detail' book.id %}"
            style="color: var(--ink);"> 
            {{ book.title }}
            </a>
        </p>
    {% empty %}
        <p>No books found</p>
    {% endfor %}

</div>

{% endblock %}