<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Leselyst - My Lists</title>
</head>
<body>
    <h1>My Lists</h1>
    <ul>
        {% for book_list in book_lists %}
            <li><a href="{% url 'Leselystapp:list_detail' list_id=book_list.id %}">{{ book_list.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'Leselystapp:home' %}">Back to Home</a>
    <footer>
        <p>&copy; 2026 Leselyst. All rights reserved.</p>
    </footer>
</body>
</html>
